.container {
     margin-top: 10px;
     padding: 10px;
     background: #EEE;
}

pre {
     margin-top: 40px;
}
.form-control, input {
     display: inline-block !important;
     margin-bottom: 5px;
     width: 300px;
     vertical-align: middle;
}
label {
     width: 70px;
}
#lat, #lng {
     width: 100px;
}